<div class="flex-container">
	<button class="navigation invisible"> Previous </button>
	<button class="navigation" (click)="nextPage()"> Next </button>
</div>
<div class="px-20px">
	<h3 class="text-center"> Communication between Components </h3>
	<p>
		I started learning Angular this year. When I have a question, I always go to 
		<a class="no-break" href="https://angular.io" target="_blank"> angular's  official site </a> to find the answer, and I believe 
		that it is the best source about Angular. However, I had trouble finding simple methods to make components communicate with each 
		other, because angular's official site includes few methods and doesnt explains which method is suitable for which use case. 
		This is the official documentation about 
		<a class="no-break" href="https://angular.io/guide/component-interaction" target="_blank">Component Interaction</a>.
	</p>
	<p>
		Now, I am more experienced so I made this tutorial to help novice web developers choose a method depending on their needs. 
		It includes 6 different methods from easiest to hardest.
	</p>
	<span> You can navigate through the pages with left and right arrows (&#8592; and &#8594;). </span>
</div>